In [1]:
import preprocessing as pp
import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist

In [2]:
customer_df, candidate_df, supplier_df, vehicle_df, distance_w_to_s_df, distance_w_to_c_df, demand_cus_period_df, demand_cus_period_scene_df = pp.read_and_prep_data()

# 2 methods for clustering

customer_df, cluster_center_df = pp.ori_cluster_by_cus_loc(customer_df, n_clusters=100, random_state=42, n_init=10)
# customer_df, cluster_center_df = pp.const_cluster_by_cus_loc(customer_df, n_clusters=100, size_min=4, size_max=400, random_state=42)

agg_dem_cus_period_df = pp.agg_dem_cus_period(demand_cus_period_df,customer_df)

In [3]:
# def create_dis_mat_df(depart_df:pd.DataFrame, arrive_df:pd.DataFrame, method: 'cityblock'):
#     # Assuming warehouse_df and customer_df have columns ['x', 'y']
#     depart_coords = depart_df[['CandidateEasting', 'CandidateNorthing']].values
#     arrive_coords = arrive_df[['CustomerEasting', 'CustomerNorthing']].values

#     # Compute Euclidean distance matrix
#     distance_matrix = cdist(depart_coords, arrive_coords, metric=method)/1000
#     # display(distance_matrix)
#     # Convert to a Pandas DataFrame for better readability
#     distance_df = pd.DataFrame(distance_matrix, 
#                             index=depart_df.index, 
#                             columns=arrive_df.index)

#     return distance_df

In [4]:
distance_w_to_cluster_df = pp.create_dis_mat_df(candidate_df, cluster_center_df,'cityblock')

NameError: name 'cdist' is not defined

In [ ]:
asdfasdf

In [ ]:
agg_dem_cus_period_df = agg_dem_cus_period_df.astype(float)

                            0        1        2         3         4         5  \
Cluster ProductIndex
0       1               306.0    636.0    881.0    1115.0    1396.0    1794.0
        2                86.0    181.0    288.0     390.0     512.0     655.0
        3              1629.0   2912.0   4310.0    5838.0    7329.0    9578.0
        4               102.0    186.0    297.0     372.0     489.0     584.0
1       1               914.0   1889.0   2247.0    3355.0    3680.0    5329.0
...                       ...      ...      ...       ...       ...       ...
98      4              8242.0  14774.0  19826.0   29405.0   37847.0   42040.0
99      1              7181.0  16022.0  22993.0   29214.0   38109.0   47021.0
        2              6266.0  12647.0  19348.0   24111.0   31909.0   38150.0
        3             33689.0  65734.0  97468.0  137696.0  165996.0  207325.0
        4              8101.0  16464.0  22432.0   31636.0   36900.0   42282.0

                             6         7         8         9
Cluster ProductIndex
0       1               1987.0    2277.0    2563.0    2833.0
        2                677.0     822.0     933.0    1017.0
        3              10426.0   12454.0   13778.0   15378.0
        4                678.0     775.0     826.0     951.0
1       1               5811.0    6412.0    7246.0    8153.0
...                        ...       ...       ...       ...
98      4              52269.0   55970.0   64165.0   72093.0
99      1              55742.0   60633.0   69562.0   76960.0
        2              44889.0   51153.0   58160.0   63360.0
        3             235193.0  257282.0  302754.0  330634.0
        4              53566.0   58031.0   68972.0   74836.0

[400 rows x 10 columns]

In [ ]:
customer_df

    CustomerId  CustomerEasting  CustomerNorthing  CustomerPopulation  Cluster
0       "AB10"         392949.0          805109.0             21964.0       14
1       "AB11"         394404.0          805438.0             21237.0       14
2       "AB12"         393407.0          800946.0             25414.0       14
3       "AB13"         385705.0          801808.0              2725.0       97
4       "AB14"         383616.0          801140.0              4881.0       97
..         ...              ...               ...                 ...      ...
435     "TD11"         379765.0          654777.0              7405.0       59
436     "TD12"         384850.0          640188.0              4215.0       17
437     "TD13"         377046.0          670810.0               827.0       59
438     "TD14"         393270.0          663526.0              6315.0       59
439     "TD15"         399049.0          650712.0             18083.0       59

[440 rows x 5 columns]

In [ ]:
candidate_df

,CandidateId,CandidateEasting,CandidateNorthing,Capacity,Setup,Operating
0,"""AB10""",392949.0,805109.0,4320000.0,5424000.0,542400.0
1,"""AB11""",394404.0,805438.0,4360000.0,5312000.0,531200.0
2,"""AB12""",393407.0,800946.0,4720000.0,4388000.0,438800.0
3,"""AB13""",385705.0,801808.0,4760000.0,4318000.0,431800.0
4,"""AB14""",383616.0,801140.0,5040000.0,3716000.0,371600.0
...,...,...,...,...,...,...
435,"""TD11""",379765.0,654777.0,6160000.0,1854000.0,185400.0
436,"""TD12""",384850.0,640188.0,6320000.0,1658000.0,165800.0
437,"""TD13""",377046.0,670810.0,6480000.0,1448000.0,144800.0
438,"""TD14""",393270.0,663526.0,7000000.0,1000000.0,100000.0
439,"""TD15""",399049.0,650712.0,7120000.0,916000.0,91600.0

In [ ]:
distance_w_to_c_df

,0,1,2,3,4,5,6,7,8,9,...,430,431,432,433,434,435,436,437,438,439
0,0.00,1.25,3.63,5.34,9.13,2.37,3.06,8.21,6.12,6.66,...,161.91,163.43,172.17,175.59,162.50,175.00,172.34,162.12,174.67,184.47
1,1.53,0.00,4.55,9.08,10.05,3.66,3.79,8.15,4.49,5.80,...,162.83,164.35,173.09,176.51,163.41,175.92,173.26,163.03,175.58,185.39
2,3.82,4.39,0.00,8.83,9.80,5.14,5.83,10.99,8.89,10.00,...,159.04,160.55,169.29,172.72,159.62,172.12,169.46,159.24,171.79,181.59
3,5.34,8.69,8.90,0.00,2.73,5.50,8.36,10.94,12.86,18.00,...,160.67,162.19,170.93,174.35,161.25,173.76,171.10,160.87,173.42,183.23
4,9.12,9.68,9.85,2.73,0.00,9.54,9.30,11.88,13.81,18.95,...,161.62,163.14,171.87,175.30,162.20,174.70,172.04,161.82,174.37,184.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,175.35,175.92,172.49,174.08,175.05,176.67,177.36,181.84,180.43,181.53,...,23.76,32.97,30.05,40.09,8.25,0.00,13.05,14.05,16.60,18.11
436,172.77,173.34,169.91,171.50,172.47,174.09,174.78,179.25,177.84,178.95,...,22.58,29.89,22.00,32.86,11.24,13.05,0.00,26.16,20.87,13.55
437,162.43,163.00,159.57,161.16,162.13,163.76,164.45,168.92,167.51,168.61,...,36.69,45.90,42.98,53.02,21.18,14.06,26.19,0.00,13.73,23.54
438,175.05,175.62,172.19,173.78,174.75,176.37,177.06,181.53,180.12,181.23,...,38.12,47.33,40.00,50.86,23.31,16.59,20.89,13.74,0.00,11.90
439,184.81,185.37,181.95,183.54,184.51,186.13,186.82,191.29,189.88,190.99,...,35.44,42.56,33.72,44.58,21.52,18.12,13.50,23.50,11.87,0.00

In [ ]:
distance_df

,0,1,2,3,4,5,6,7,8,9,...,430,431,432,433,434,435,436,437,438,439
0,0.000,1.784,4.621,10.545,13.302,3.034,4.871,13.287,5.750,10.770,...,209.339,225.647,212.155,235.150,179.670,163.516,173.020,150.202,141.904,160.497
1,1.784,0.000,5.489,12.329,15.086,4.550,5.997,14.413,6.876,8.986,...,211.123,227.431,213.939,236.934,181.454,165.300,174.804,151.986,143.046,159.371
2,4.621,5.489,0.000,8.564,9.985,7.655,9.492,17.908,10.371,14.475,...,205.634,221.942,208.450,231.445,175.965,159.811,169.315,146.497,137.557,155.876
3,10.545,12.329,8.564,0.000,2.757,7.779,10.770,14.068,15.919,21.315,...,198.794,215.102,201.610,224.605,169.125,152.971,162.475,139.657,145.847,164.440
4,13.302,15.086,9.985,2.757,0.000,10.536,13.527,16.825,18.676,24.072,...,196.037,212.345,198.853,221.848,166.368,150.214,162.186,136.900,147.268,165.861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,163.516,165.300,159.811,152.971,150.214,160.750,163.741,167.039,168.890,174.286,...,45.823,62.131,48.639,71.634,16.154,0.000,19.674,18.752,22.254,23.349
436,173.020,174.804,169.315,162.475,162.186,170.254,173.245,176.543,178.394,183.790,...,36.319,52.627,39.135,62.130,19.712,19.674,0.000,38.426,31.758,24.723
437,150.202,151.986,146.497,139.657,136.900,147.436,150.427,153.725,155.576,160.972,...,59.137,75.445,61.953,84.948,29.468,18.752,38.426,0.000,23.508,42.101
438,141.904,143.046,137.557,145.847,147.268,144.938,146.775,155.191,147.654,152.032,...,68.077,84.385,70.893,93.888,38.408,22.254,31.758,23.508,0.000,18.593
439,160.497,159.371,155.876,164.440,165.861,163.531,165.368,173.784,166.247,166.911,...,61.042,77.350,63.858,86.853,31.373,23.349,24.723,42.101,18.593,0.000

In [ ]:
cluster_center_df

         CustomerEasting  CustomerNorthing
Cluster
0               182928.0         878062.50
1               299215.0         631570.00
2               366866.5         854108.00
3               169301.2         734399.00
4               278806.8         679657.00
...                  ...               ...
95              201440.0         630542.00
96              297233.5         698728.75
97              381215.8         799058.20
98              387499.0         810735.00
99              299337.4         675181.80

[100 rows x 2 columns]